/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */

/**Grid System**/

/**Table section**/
table {
    border-collapse: collapse;
    border-spacing: 1px;
    width: 100%;
    border: 1px solid gray;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
/**Webpage**/
  #Webpage {
    margin: 1.5rem 1.0rem; /* first input= top+bottom margin, then clock wise left+right, only 1 value for each.*/
    font-size: 100%;
    background-color: var(--color-complement-4); 
}

/**Nav Bar Styles**/
#Webpage .navBarstyles{
    /* color: var(--color-primary-4); */
    background-color:var(--color-complement-3)!important ;
    /* font-size: 3.0rem; 
    font-family: 'Bookman Old Style', Arial ; */
}

.navBarstyles .navBartext{
    color: var(--color-primary-4);
    font-size: 2.0rem; 
    font-family: 'Bookman Old Style', Arial ;
}
/**Nav Bar Styles**/

.justify-left{
    justify-content: left;
}

/**Content**/
#content
{
 background-color: var(--color-primary-3);
 border-radius: 10px;
 padding: 0.5rem;
 margin-top: 3.5rem;
}

#SelfPort
{
    border-radius: 10px;
    margin-bottom: 15px;
}

.title-header {
    text-align: center;
}

.subheading{
    padding:10px 10px;
}

h2{
    color: var(--color-primary-3);
    font-size: 3.0rem; 
    font-family: 'Bookman Old Style', Arial ;
    margin: 10px;
}

h3{
    color: #B1A27F;
    font-size: 1.8rem;
    font-family: 'Bookman Old Style', Arial ;
}
p{
    font: 1.5rem Georgia, Serif ;
    color: var(--color-complement-2); 
    text-align: left;
}

/**Content**/

/*Home Page Specific IDs + styles*/
.Infotext{
    background: var(--color-complement-3);
    background-clip: padding-box;
    visibility: hidden;
    padding: .8rem;
    border-radius: 10px;
    
}
.HPProject:hover .Infotext{
    visibility: visible;
  
}
.HPProject{
    font-size: 0.5rem;
    padding: .3rem;
    margin-bottom: 1rem;
}

#Proj1-Thumbnail{
    border-radius: 10px;
    background-image: url("Images/FilmScatter-plot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}

#Proj2-Thumbnail{
    border-radius: 10px;
    background-image: url("Images/4-Filter_Options-Inactive.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}

#Proj3-Thumbnail{
    border-radius: 10px;
    background-image: url("Images/PinballDesign_CombinedMachineResized.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: padding-box;
}


/*Home Page Specific IDs + styles*/

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=a143T0khYdEz1kg-F7P92mcknuM */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */
:root{
--color-primary-0: #6D5B30;/* Main Primary color */	
--color-primary-1: #A17300;
--color-primary-2: #3E2C00;
--color-primary-3: #B1A27F;
--color-primary-4: #F5C859;

--color-complement-0: #262C4A;	/* Main Complement color */
--color-complement-1: #0D1C6E;
--color-complement-2: #050B2B;
--color-complement-3: #5B6079;
--color-complement-4: #4A59A8;
}

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */