/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
}

/* For mobile phones: */

/**Grid System**/

/**Table section**/
table {
    border-collapse: collapse;
    border-spacing: 1px;
    width: 100%;
    border: 1px solid gray;
  }
  
  th, td {
    text-align: left;
    padding: 20px;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
/**Webpage**/
  #Webpage {
    margin: 2.0rem 2.0rem; /* first input= top+bottom margin, then clock wise left+right, only 1 value for each.*/
    font-size: 100%;
    background-color: var(--color-complement-4); 
}

/**Banner
/**#banner {
    align-items: left;
    background-color: #5B6079;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #4A59A8;
    padding: 1rem 1rem 0 1rem; /*Area within the "box" it self.organize top right bottom left
    margin-bottom: 1.5rem;
    text-align: center;
    width: 500px;
}
    #banner h1{
        font-size:2.5rem;
    }
    #banner nav {
        background-color: #B1A27F;
        border-radius: 10px;
        padding: 0.5rem 0;
        overflow: hidden; /*hides anything going past this border*

    }
        #banner nav ul {
            text-align: left;
            padding: 0;
        }

        #banner nav li {
            display: inline;
            padding: 1.0rem 2.0rem
        }

        #banner nav a {
            color: #4A59A8;
            padding: 0.5rem 0;
            font-size: 1.6rem;
            text-decoration: none;
        }
Banner**/

/**Nav Bar Styles**/
#Webpage .navBarstyles{
    /* color: var(--color-primary-4); */
    background-color:var(--color-complement-3)!important ;
    /* font-size: 3.0rem; 
    font-family: 'Bookman Old Style', Arial ; */
}

.navBarstyles .navBartext{
    color: var(--color-primary-4);
    font-size: 2.0rem; 
    font-family: 'Bookman Old Style', Arial ;
}
/**Nav Bar Styles**/

.justify-left{
    justify-content: left;
}

/**Content**/
#content
{
 background-color: var(--color-primary-3);
 border-radius: 10px;
 padding: 0.5rem;
 margin-top: 3.5rem;
}

#SelfPort
{
    border-radius: 10px;
    margin-bottom: 15px;
}

.title-header {
    text-align: center;
}

.subheading{
    padding:10px, 10px;
}

h2{
    color: var(--color-primary-3);
    font-size: 3.0rem; 
    font-family: 'Bookman Old Style', Arial ;
    margin: 10px;
}

h3{
    color: #B1A27F;
    font-size: 1.8rem;
    font-family: 'Bookman Old Style', Arial ;
}
p{
    font: 1.5rem Georgia, Serif ;
    color: var(--color-complement-2); 
    text-align: left;
}
/**Content**/

/*Home Page Specific IDs + styles*/
.HPProject{
    padding: 1px;
    font-size: 0.5rem;
    /* border:1px solid red; */

}

#Proj1-Thumbnail{
    /*Temp colorfill*/
    background-color:Blue;
    /*background-image: thumbnail for project */
}

#Proj2-Thumbnail{
    /*Temp colorfill*/
    background-color:Blue;
    /*background-image: thumbnail for project */
}

#Proj3-Thumbnail{
    /*Temp colorfill*/
    background-color:Blue;
    /*background-image: thumbnail for project */
}

.Infotext{
    visibility: hidden;
}
.HPProject:hover .Infotext{
    background: var(--color-complement-3);
    visibility: visible;
}
/*Home Page Specific IDs + styles*/

/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=a143T0khYdEz1kg-F7P92mcknuM */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */
:root{
--color-primary-0: #6D5B30;/* Main Primary color */	
--color-primary-1: #A17300;
--color-primary-2: #3E2C00;
--color-primary-3: #B1A27F;
--color-primary-4: #F5C859;

--color-complement-0: #262C4A;	/* Main Complement color */
--color-complement-1: #0D1C6E;
--color-complement-2: #050B2B;
--color-complement-3: #5B6079;
--color-complement-4: #4A59A8;
}

/* Generated by Paletton.com © 2002-2014 */
/* http://paletton.com */